<a href="/signup">Signup</a>
  
</br>
</br>
</br>

                    <!--Javascript result_render-->

<canvas id='your_canvas'></canvas> </br>

                    <!--Javascript result_render-->

										<!--Javascript editor-->

<div class="left panel">
  <label>Script JS</label>
  <textarea id="scriptJS" rows="20" style="width:100%;">
  
  </textarea> 
</div>
										<!--Javascript editor-->


										<!--Javascript library-->									
<div class="right panel">
  <label>Libs JS</label>
  <textarea id="libsJS" rows="20" style="width:100%;">
  
  </textarea>
</div>

										<!--Javascript library-->	

<button id="btn-run">Run</button>
										<!--Javascript editor-->

