<!DOCTYPE html>
<html>
  <head>   
    <title>mboddy</title>
  </head>   
  
  <body>
  	<a href="/signup">Signup</a>
  </body>

</html>



<!-- webgl code start
<!DOCTYPE html>
<html>
  <head>   
    <title>mboddy</title>
  	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  	<%= csrf_meta_tags %>
  </head>


  <body style='margin:0px' onload='main()'>
    <canvas id='your_canvas'
      style='position: absolute; background-color: black;'></canvas>
  </body>


</html>
-->

<!-- webgl code end -->