<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to the Sample App</h1>

    <h2>
      This is the home page for the
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </h2>

    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %>
  </div>



<% end %>




 
</br>
</br>
</br>  
</br>
</br>
</br>


                    <!--Javascript result_render-->

<canvas id='your_canvas'></canvas> </br>

                    <!--Javascript result_render-->

										<!--Javascript editor-->

<div class="left panel">
  <label>Script JS</label>
  <textarea id="scriptJS" rows="20" style="width:100%;">
  
  </textarea> 
</div>
										<!--Javascript editor-->


										<!--Javascript library-->									
<div class="right panel">
  <label>Libs JS</label>
  <textarea id="libsJS" rows="20" style="width:100%;">
  
  </textarea>
</div>

										<!--Javascript library-->	

<button id="btn-run">Run</button>
										<!--Javascript editor-->

