.panel {
  display: inline-block;
  width: 45%;
}

.panel label {
  font-weight: bold;
  margin-bottom: 10px;
}

.panel.left{
	margin-right:20px;
}

#btn-run {
  display: block;
}

#your_canvas {

  max-height:400px;
}